{{>licenseInfo}}
#ifndef _{{prefix}}_{{classname}}_H_
#define _{{prefix}}_{{classname}}_H_

#include "{{prefix}}HttpRequest.h"

{{#imports}}{{{import}}}
{{/imports}}

#include <QObject>
#include <functional>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

class {{classname}}: public QObject {
    Q_OBJECT

public:
    static const constexpr char* API_VERSION = "{{{version}}}";

    using LogCallback_t = std::function<void(const QString& message )>;
    
    {{classname}}( LogCallback_t logCallback = nullptr );
    {{classname}}(QString host, QString basePath, LogCallback_t logCallback = nullptr );
    ~{{classname}}();
    
    QString host;
    QString basePath;
    QMap<QString, QString> defaultHeaders;
    {{#operations}}{{#operation}}using {{nickname}}Callback_t = std::function<void({{#returnType}}{{{returnType}}} summary, {{/returnType}}QNetworkReply::NetworkError error_type, QString& error_str)>;
    {{/operation}}{{/operations}}

    {{#operations}}{{#operation}}void {{nickname}}({{#allParams}}{{{dataType}}}{{#isBodyParam}}&{{/isBodyParam}} {{paramName}},{{/allParams}} {{nickname}}Callback_t callback = nullptr);
    {{/operation}}{{/operations}}
private:
    {{#operations}}{{#operation}}void {{nickname}}Callback ({{prefix}}HttpRequestWorker * worker);
    {{/operation}}{{/operations}}
    
    LogCallback_t mLogCallback;
    
    void log( const QString& message )
    {
       if ( mLogCallback )
       {
          mLogCallback( message );
       }
    }
signals:
    {{#operations}}{{#operation}}void {{nickname}}Finished({{#returnType}}{{{returnType}}} summary, {{/returnType}}QNetworkReply::NetworkError error_type, QString& error_str);
    {{/operation}}{{/operations}}
    {{#operations}}{{#operation}}void {{nickname}}Signal({{#returnType}}{{{returnType}}} summary{{/returnType}});
    {{/operation}}{{/operations}}
    {{#operations}}{{#operation}}void {{nickname}}SignalE({{#returnType}}{{{returnType}}} summary, {{/returnType}}QNetworkReply::NetworkError error_type, QString& error_str);
    {{/operation}}{{/operations}}
    {{#operations}}{{#operation}}void {{nickname}}SignalEFull({{prefix}}HttpRequestWorker* worker, QNetworkReply::NetworkError error_type, QString& error_str);
    {{/operation}}{{/operations}}
};

{{#cppNamespaceDeclarations}}
}
{{/cppNamespaceDeclarations}}
#endif
